CONFIG_GIT_URI=https://github.com/manishrnl/microservices-boiler-plate-config-server.git
CONFIG_GIT_DEFAULT_LABEL=main
POSTGRES_DB=microservices_db
POSTGRES_USER=microservice_user
POSTGRES_PASSWORD=microservice_password
PAYMENT_EVENTS_TOPIC=payment-events
OLLAMA_CHAT_MODEL=llama3.2
MAX_SESSIONS_PER_USER=5
